<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>With 13+ years in game development, I bring deep technical expertise and leadership across mobile and PC. I began as a Unity Developer, advanced to Team Lead, and later CTO—guiding teams through all stages of game development, from prototyping to live ops.</p>
        <p>I specialize in team leadership, project planning, and building internal tools that streamline workflows and boost productivity. I’ve developed reusable code packages, automated build systems, and a flexible Unity-based framework that became the studio’s foundation.</p>
        <p>As CTO, I focused on hiring, mentorship, and fostering a strong dev culture through clear documentation and best practices. My work aligns tech strategy with creative and business goals, with a strong focus on multiplayer systems, performance, and efficient pipelines. I lead with collaboration, innovation, and a passion for great games.</p>
      </div>
      <div class="col-lg-4">
        <p>Main:
          <ul>
            <li>C# .NET Standard / .NET Framework / Mono, LINQ: 15 years</li>
            <li>Unity: 15 years
            <li>Photon Unity Networking (PUN),
            Photon Bolt, Photon Fusion
            (multiplayer frameworks): 13 years</li>
            <li>PlayFab / GameSparks (backend related frameworks) + JavaScript: 9 years</li>
            <li>NoSQL (Mongo, Redis) programming: 9 years</li>
            <li>Newtonsoft.Json (Json.NET): 9 years</li>
            <li>C# 5+ features (async/await, tasks), UniTask: 5 years</li>
            <li>Zenject / Extenject (dependency injection framework for Unity): 3 years</li>
            <li>UniRX (reactive framework): 3 years</li>
            <li>MessagePipe (messaging system): 2 years</li>
            <li>ASP.NET: 2 years</li>
            <li>SQL, Entity Framework: 2 years</li>
            <li>PHP Symfony: 1 year</li>
          </ul>
        </p>
        <p>Other:
          <p style="font-size: 15px">
            HTTP/REST, web sockets,
            server/client programming, clouds
            (AWS, Azure, Google Cloud), Docker,
            Node.js, Java, Jenkins, Maven,
            Android Studio, Xcode, Git, Perforce,
            Mercurial, data serialization and
            compression, NUnit, unit testing,
            automated testing, AltTester, WPF,
            Xamarin, Appium, MVC/MVVM
            patterns, HTML5/CSS, JQuery,
            WebGL, Flash, Python, data analytics,
            3rd party plugins.
          </p>
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://raszyk.dev/LukaszRaszykCV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
